
body {
  min-height: 100vh;
  margin: 0px;
}

.App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 5%;
  width: 100vw;
  
  color: white;
  font-size: calc(10px + 2vmin);

  display: flex;
  align-items: center;
}

.App-header > * {
  display: inline-block;
  margin: 0px;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main > * {
  margin: 20px;
}

.request-output{
  width: 60%;
  max-height: 340px;
  overflow-y: scroll;
}

.App-footer {
  background-color: #282c34;
  
  height: 5%;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer a {
  padding: 5px;
}

