.HTTP-request, .HTTP-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.HTTP-request p {
    margin: 0px;
    display: inline-block;
}

.form-item{
    margin: 10px 0px;
}

.submit {
    background-color: #282c34;
    color: #eeeeee;

    border-radius: 8px;
    padding: 4px;
    box-sizing: border-box;
}